# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
*.fasl
bin
*~
.DS_Store


# Ignore (generated) html files,
# *.html
# except foo.html which is maintained by hand.
# !foo.html
# Ignore objects and archives.
# *.[oa]

