# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
*.fasl
*.fas
*.xfasl
*.dx64fsl
*.64xfasl
*.lib
bin
*~
#*#
.DS_Store

*.aux
*.idx
*.log
*.toc
*.ilg
*.ind
*.out

configure.el
systems.txt
system-index.txt

# Ignore (generated) html files,
# *.html
# except foo.html which is maintained by hand.
# !foo.html
# Ignore objects and archives.
# *.[oa]

