/*
*	GDL TATU BASIC STYLESHEET
*	COPYRIGHT 2008 - 2009 GENWORKS - ALL RIGHTS RESERVED
*   VERSION 090924
*/ 

ul.navbar { /* root level navbar definition */
	/*margin:		1ex 0; */
 	display:	block; 
	margin: 	0px;
	padding: 	2px; 
	position: 	relative;
	height:		20px;
}
	ul.navbar li { /* all list items within the navbar have */ 
		font-size: 1.3em;
		display: block; 
		color: #595959;
		list-style: none; 
		margin: 0px; 
		padding: 2px 11px;
		float: left; 
		position: relative; 
	}
	ul.navbar a { /* all links (menu items with actions attached) */
		display: block; 
		text-decoration: none;
		color: #818181; 
		font-size: 12px;
		font-weight: normal;
	}
	ul.navbar ul { /* all sub menu (incl names) */
		/* font-size: 0.8em; */
		background: #b6b6b6; /* was f9f9f9 */
		color: #424242;
		display: none;
		position: absolute;
		left: 0;
		margin: 1px;
		padding: 1px;
		padding-bottom: 10px;
		top: 21px; /* position of submenu - correlates with height of menu */
	}
	/* * html ul.navbar ul { line-height: 0; } /* IE6 "fix" */
	/*	ul.navbar ul a { zoom: 1; } /* IE6/7 fix */
		ul.navbar ul li { float: none;}
	/*	ul.navbar ul ul { top: 0; } */
	
	ul.navbar li.heading { /* headings in submenus (no action are green) */
		color: #B8D43F;
		font-size: 12px;
		font-weight: bold;
	}

	ul.navbar li.disabled  { /* disabled have no action or background */
		color: #dedede;
		font-size: 12px;
		font-weight: normal;
	}


	ul.navbar li.separator { /* separators in menu's vertical and horizontal */
		height: 5px; /* vertical sep */
		width: 5px; /* horizontal sep */
	}
    
/* Essentials - configure this */

ul.navbar ul { width: 180px; }
ul.navbar ul ul { left: 181px; }

/* Everything else is theming */
	ul.navbar .ui-state-active ul li a {
		color: #424242 !important;
	}



	ul.navbar ul li a:hover { /* white on green when selected*/
	        cursor: default;
		background-color: #B8D43F;
		background-image: url(/static/gwl/tasty-unpix/bg_select_green.png);
		background-repeat: repeat-x;		
		color: #fff; 
	}

	
 

/* extra styles for the menu */
ul.navbar#menu { 
	z-index:600; 
	/*background-image: url(/static/gwl/tasty-unpix/bg_menu.png);
	background-repeat: repeat-x; */
	height: 23px;
	line-height: 23px;
}
ul.navbar#menu .top {
        cursor: default;
	color: #fff;
	font-weight: bold;
}
ul.navbar#menu .top:hover { color: #B8D43F; }
ul.navbar#menu *:hover {  /* When stuff is hovering, make background greyish */
	background-color: #b6b6b6; 
} 

/* extra styles for the toolbar */
ul.navbar#toolbar span.tbartext { /* help text with all buttons - hidden for now */
	display: none;
}
ul.navbar#toolbar { 
	z-index:500; 
	/*background-image: url(/static/gwl/tasty-unpix/bg_toolbar.png);
	background-repeat: repeat-x; */
	height: 40px;
	line-height: 45px;
}

ul.navbar#toolbar li,
ul.navbar#toolbar a { 
	height: 40px;
}

ul.navbar#toolbar li:hover { 
	background-image: url(/static/gwl/tasty-unpix/bg_toolbar_selected.png);
	background-repeat: repeat-x;
	background-position: center center;
}
