<div class="fullpage documentation"> 
  <h1>Documentation/Resources</h1>

  <p>Please continue to visit this page for ongoing documentation updates. For now: </p>

  <ul>
    <li><a href="https://www.dropbox.com/sh/utdoexvoxrajju4/AAC6OIfhtgHb0CkmZeye1zhqa"> Example Code</a></li>
    <li><a href="http://youtu.be/lUE8dGkJIlE?list=PLRhCdLP6SHQ-BIvUEBuVW0Ip5npMR9M4x">Video Playlist</a></li>
    <li><a href="https://www.dropbox.com/sh/ljtd3tfo33dt3r9/AAB1VzUUDJkVuZRMLIKumXg3a"> Exercise Solutions</a> (don't look before trying!)</li>
    <li><a href="http://genworks.com/downloads/tutorial.pdf">Gendl/GDL Manual</a> (under development)</li>
    <li><a href="https://gitlab.common-lisp.net/gendl/gendl">Gendl project site at Common-Lisp.net</li>
  </ul>

</div>
