    <div class="footer">

      <img src="/imgs/gearflower.png" />
      <br /><span class="title">gendl</span>
      
      <a data-toggle="landing" id="landing">Home</a> 
      <a data-toggle="about" id="about">About</a>
      <a data-toggle="license" id="license">License</a>
      <a data-toggle="downloads" id="downloads">Downloads</a>
      <a data-toggle="documentation" id="documentation">Documentation</a>
      <a data-toggle="demos" id="demos">Demos</a>
      <a data-toggle="getinvolved" id="getinvolved">Get Involved</a>

    </div>

  </body>
</html>
