<html>
  <head>
    <title>Gendl</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="/css/styles.css" rel="stylesheet" media="screen">
    <script src="/js/scripts.js"></script>


  </head>
  <body>


    <div class="fullpage landing active" id="first">

    <div class="banner">
	  the
	  <span class="gendl">
	  gendl</span>
	  project

	</div>
    <br />


      <img src="/imgs/01.png" class="banner_img" /><br />
      <img src="/imgs/02.png" class="banner_img" /><br />
      <img src="/imgs/03.png" class="banner_img" /><br />
    </div>
