<div class="fullpage license">
  <img src="/imgs/agpl.png" align="left">
  <h1>License: The Affero GNU Public License</h1>
  
  <blockquote><p>The GNU Affero General Public License is a free,
  copyleft license for software and other kinds of works, specifically
  designed to ensure cooperation with the community in the case of
  network server software.</p>
    <p>
      The licenses for most software and other practical works are
      designed to take away your freedom to share and change the
      works. By contrast, our General Public Licenses are intended to
      guarantee <b>your freedom to share and change all versions of a
      program</b>--to make sure it remains <b>free software</b> for
      all its users.
    </p><p> When we speak of free software, we are referring to
      freedom, not price. Our General Public Licenses are designed to
      make sure that you have the freedom to distribute copies of free
      software (and charge for them if you wish), that you receive
      source code or can get it if you want it, that you can change
      the software or use pieces of it in new free programs, and that
      you know you can do these things.</p>
    <p>- The AGPL Preamble (<a href="http://www.gnu.org/licenses/agpl-3.0.html">link</a>)</blockquote>

  <p>Gendl is licensed under the 
    <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GNU
      Public License (AGPL)</a>.  This means that distributed or
      hosted application binaries compiled with Gendl (and therefore
      containing parts of Gendl) also need to have their source code
      released under AGPL. There are no restrictions against
      commercial use of this free system, but the source code for
      distributed or hosted applications must be made available for
      download by the user.</p>

  <p>For those with closed-source distribution needs, Gendl's
  commercial sibling, <a href="http://genworks.com">Genworks&reg;
  GDL</a>, is available. GDL also comes bundled with commercial
  technical support, an integrated world-class NURBS surface and solid
  modeling kernel, and a choice of commercial Common Lisp engines.</p>

</div>
