html, body, h1, h2, h3, h4, h5, ul, li {
        margin: 0;
        padding: 0;
}
h1 img {
        display: block;
}
img {
        border: 0;
}
a {
        color: #464544;
}
a:hover {
        color: #FFA405;
}
.left {
        float: left;
}
.right {
        float: right;
}
.more {
        text-align: right;
}
.clear {
        clear: both;
}

body {
        background: #E0D5B7 url(images/page_bg.jpg) repeat-x;
        text-align: center;
        font: 11px verdana, arial, sans-serif;
        color: #74653D;
        padding-bottom: 10px;
        padding-top: 31px;
}
div.scroll {
 padding-left: 2px;
 height: 98px;
 width: 700px;
 overflow: auto;
 border: 0px;
 background-color: #FEFBF2;
 
}

#wrapper {
        text-align: left;
        margin: auto;
        width: 954px;
  position: relative;
  background: url(images/body_bg.jpg) repeat-y;
}

#header {
  position: absolute;
  top: 0;
  left: 243px;
  width: 711px;
  height: 152px;
  background: url(images/header_1a.jpg) no-repeat;
}
#header h1 {
  padding-top: 10px;
  padding-left: 50px;
  font: 48px "arial narrow", liberation serif;
}

#left {
  float: left; 
  width: 243px;
}

#logo {
  width: 244px;
  height: 152px;
  background: url(images/header_1.jpg) no-repeat;
  text-align: center;
  color: #595959;
}
#logo h1 {
  padding-top: 10px;
  font: 20px "arial narrow", arial, sans-serif;
}
#logo p {
  margin: 8px 25px 4px 25px;
  border-top: 1px solid #B8B8B8;
  border-bottom: 1px solid #B8B8B8;
  padding: 3px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

#news {
  background: url(images/news_bg.jpg) repeat-y;
  padding-left: 20px;
  padding-right: 8px;
  
  padding-top: 4px;
  height: 175px;
  text-align: justify;
}
#news h2 {
  font-size: 16px;
  padding-bottom: 2px;
  color: #BE8B06;
  text-align: justify;
}
#news h3, #news p {
  font-size: 11px;
  margin: 1em 8px 1em 0;
}
#news a {
  color: #74653D;
  font-weight: bold;
  text-decoration: underline;
}
#news a:hover {
  color: #38301A;
}

#disp-comp {
  background: url(images/news_bg.jpg) repeat-y;
  padding-left: 20px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 4px;
  height: 950px;
  text-align: justify;
}
#disp-comp h2 {
  font-size: 16px;
  color: #BE8B06;
  padding-bottom: 2px;
  text-align: justify;
}
#disp-comp h3, #news p {
  font-size: 10px;
  color: #BE8B06;
  margin: 4px 4px 4px 0;
}
#disp-comp a {
  color: #74653D;
  font-weight: bold;
  text-decoration: underline;
}


#end-input-head {
  background: url(images/end-input-head.jpg) no-repeat;
  padding: 1px;
  height: 4px;
  color: #1A1A18;
}
#end-input {
  background: url(images/end-input.jpg) no-repeat;
  padding: 1px;
  height: 8px;
  color: #1A1A18;
}
#end-input p {
  margin: 0.7em 2.6em;
}
#left-export {
  float: left;
  width: 234px;
}
#data-export {
  float: right;
  width: 702px;
  padding-right: 9px;
  padding-top: 152px;

}
#data-export-t {
  background: url(images/export_bg.jpg) repeat-y;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 4px;
  height: 175px;
  text-align: justify;
}
#data-export-t h2 {
  font-size: 16px;
  color: #BE8B06;
  padding-bottom: 4px;
  padding-bottom: 2px;
  text-align: justify;
}
#data-export-t h3, #news p {
  font-size: 11px;
  margin: 1em 8px 1em 0;
}
#data-export-t a {
  color: #74653D;
  font-weight: bold;
  text-decoration: underline;
}
#end-export {
  background: url(images/end-export.jpg) no-repeat;
  padding: 1px;
  height: 8px;
  color: #1A1A18;
}
#right {
  float: right;
  width: 702px;
 
}
#right h2 {
    font: 18px arial, sans-serif;
    color: #BE8B06;
    border-top: 10px solid #C4AE7C;
    border-bottom: 1px solid #C4AE7C;
    padding-bottom: 4px;
    padding-top: 4px;
  
}
#right h3 {
  font: 14px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
  margin-top: 2em;
}
#welcome {
  margin-right: 20px;
  text-align: justify;
}
#profile {
  margin-right: 16px;
}

#footer {
  background: url(images/footer_bg.jpg) repeat-y;
}
#copyright {
  text-align: center;
  padding: 25px 0px 30px 0px;
  font-size: 14px;
  color: #74653D;
  font-weight: bold;
}
#footerline{
        background: url(images/footerline.jpg) no-repeat;
        height:10px;
        margin-top:0px;
        display:block;
        font-size:1px;
}
