/*
*	GDL TATU BASIC STYLESHEET
*	COPYRIGHT 2008 - 2009 GENWORKS - ALL RIGHTS RESERVED
*   VERSION 090519
*/ 

/* Imports the ta2.0 custom jquery ui themeroller css */
@import url("tasty-jquery-ui-1.7.1.custom.css");

/* Imports the tree custom css */
@import url("tasty-tree.css");
@import url("tasty-menu.css");
@import url("tasty-inspector.css");

@charset "UTF-8";
body { /* main body fonts and backgrounds */
	font: 0.6em 'Trebuchet MS', Helvetica, FreeSans, Arial, sans-serif;
}
 
/* 
*	JQUERY LAYOUT CLASSES
*/

.ui-layout-resizer { /* all 'resizer-bars' */
}
.ui-layout-toggler { /* all 'toggler-buttons' */
	background: #CCC;
}
.inner-north { /* contectual help and message */
	background: #FFFDD6;
}
.inner-center ,
.inner-west ,
.inner-north {
	padding-bottom:	0 !important;
}

/*
 * Initially hide all panes, shows the loader
 */
 
.pane
.inner-center,
.inner-west,
.inner-east,
.inner-north,
.inner-south,
.outer-center,
.outer-west,
.outer-east,
.outer-north,
.outer-south ,
#TabPanelsContainer {
	display: none;
}
/*
 * Defines the appearance of scrollbars as a result of 'too much content'
 * in the following panes
 */
.inner-west .ui-widget-content,
.outer-east .ui-widget-content,
.inner-east .ui-widget-content,
.inner-center .ui-widget-content {
	overflow: auto;
}

.outer-west .ui-widget-content {
	overflow: hidden;
	overflow-y: auto;
}  
/*
 *	PageLayout Panes - Tab Buttons & Panels
 */
#TabButtons {			/* North */
}
#TabPanelsContainer {	/* Center */
	padding: 0;
	}
	#tabs .ui-tabs-nav {
		/* don't need border or rounded corners - tabs 'fill' the pane */
		border:		0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}

	/*
	 *	Tab #2
	 */
	#Documentation {
	}

	/*
	 *	ApplicationLayout - Tab #1
	 */
	#ApplicationLayout {	/* Container */
		width:		100%;
		height:		100%;
		padding:	0;		/* add padding to #TabPanelsContainer instead */
		}
		#InnerLayout {		/* Container */
			}

.header {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding: 4px;
}
.subhead {
	padding: 3px 4px;
	border-bottom: 1px solid;
}
.footer {
	padding: 3px 4px;
	border-top: 1px solid;
	font-weight: normal;
	font-size: 0.95em;
	}
	.footer p,
	.footer div,
	.footer form,
	.footer span {
		display: inline;
	}

.content { /* direct span selection inside a content will make is padded*/
	padding: 3px;
}

.white, 
.white td, 
.white td label {
  color: #EBEBEB;
}

.clean {
	text-decoration: none;
	color: #424242;
}

/* Miscellaneous classes for reuse */
.css_right,
.fltrt { /* this class can be used to float an element right in your page. 
The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 3px;
	z-index:800;
}
.css_left,
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 3px;
	z-index:800;
}

.normal {
	font-weight: normal;
}