
.navigation {
font-family: Helvetica;
font-size: large;
font-weight: bold;
        }


a:link {
color: #000099;
text-decoration: none;
}

a:visited {
color: #000099;
text-decoration: none;
}

a:hover {
text-decoration: none;
background-color: #CCCC00;
}


a:active {
text-decoration: none;
}

body {
margin: 20px 20px 20px 20px;
background-color: #cccccc;
color: black;
line-height: 150%;
}

p {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

/*
ol {
font-family: Arial, Helvetica, sans-serif;
}
*/


.slide-body {
width: 80%;
        }


.bullet-list {

line-height: 200%;      

}

.bullet {

font-family: Times, Tacoma, serif;
font-size: large;

}


.lisp-code {
color: blue;
/* whitespace: pre; */
/* font-family: Courier, fixed, serif; */
font-family: monospace;
font-size: 18;
font-weight: 600;

        }

  
.print-string {
/* whitespace: pre; */
font-family: Courier, fixed, serif;
font-size: 18;
font-weight: 600;

        }



.lisp-value {
color: green;
/* whitespace: pre; */
font-family: Courier, fixed, serif;
font-size: 18;
font-weight: 600;
        }


.lisp-return-value {
color: green;
background-color: yellow;
/* whitespace: pre; */
font-family: Courier, fixed, serif;
font-size: 18;
font-weight: 600;
        }



#title {
font-family: Arial, Helvetica, sans-serif;
font-size: x-large;
font-weight: bold;
color: black;
}



#copyright {
font-style: italic;
font-size: small;
        }



.gdl-object-def
{
/* whitespace: pre; */
 font-family: Courier, fixed, serif;
 font-size: 18;
 font-weight: 700;

}

.gdl-operator
{
 color: #000099;
/*  whitespace: pre; */
 font-family: Courier, fixed, serif;
 font-size: 18;
 font-weight: 700;



}

.gdl-section-keyword
{
 color: #009900;
/*  whitespace: pre; */
 font-family: Courier, fixed, serif;
 font-size: 18;
 font-weight: 700;

}

.gdl-message-name
{
 color: #ff0066;
/* whitespace: pre; */
 font-family: Courier, fixed, serif;
 font-size: 18;
 font-weight: 700;

}

.gdl-object-input-key
{
 color: #0000ff;
/*  whitespace: pre; */
 font-family: Courier, fixed, serif;
 font-size: 18;
 font-weight: 700;

}


