/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #000;
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
h1 {
	color: #FC0;
}
h2 {
	color: #FC0;
	text-align: center;
	padding: 0 20px 10px;
}
h3 {
	color: #FFF;
	text-align: center;
}
h5 {
	color: #FFF;
	padding: 10px 0;
	font-size: 100%;
}
h6 {
	color: #FFF;
	font-size: 90%;
}	
ul, ol {
	color: #FFF;
}	
p {
	margin: 5px 10px 10px 10px;
	color: #FFF;
	font-size: 90%;
	line-height: 1.3em;
}
/* HEADER *************************************************************************/
#header {
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}
#logo {
	display: inline;
	padding: 20px 0 0 0;
}

/* LINKS *************************************************************************/
a:link,
a:visited,
a:active {
	color: #FFF;
	text-decoration: underline;
}
a:hover,
a:focus {
	color: #FC0;
	text-decoration: underline;
}
a img {
	border: none;
	text-decoration: underline;
}
.link_enter {
	float: right;
}

p a:link,
p a:visited,
p a:active,
.column_right a:link,
.column_right a:visited,
.column_right a:active {
	color: #FF9;
}
p a:hover,
p a:focus,
.column_right a:hover,
.column_right a:focus {
	color: #FC0;
}

/* NAV *************************************************************************/

#nav {
	display: inline;
	position: relative;
	top: -40px;
	border-bottom: 3px solid #009;
	padding: 0 0 10px 0;
	margin: 0 0 0 40px;
}	
#nav li {
	padding: 0 0 0 20px;
	background: url("../images/icons/dot.gif") no-repeat left center;
	display: inline;
	font-size: .8em;
}
#nav li a {
	text-decoration: none;
}

.home #home,
.products #products,
.demo #demo, 
.options #options,
.glossary #glossary,
.maintenance #maintenance,
.licensing #licensing,
.people #people,
.new #new,
.opportunities #opportunities,
.pricing #pricing,
.contact #contact,
.security #security {
	font-weight: bold;
}
/* CONTENT *************************************************************************/
.content {
	margin: 0 auto;
	padding: 25px 0 0 0;
	width: 1000px;
	text-align: center;
	clear: both;
}
.maintenance .content,
.licensing .content,
.people .content,
.security .content,
.demos .content  {
	width: 980px;
	text-align: left;
}
.demo_intro {
	background: url("../images/format/demos_intro_bg.gif") no-repeat top center;
	padding: 40px 50px 10px 50px;
	font-size: 1.2em;
}
.demo_note {
	color: #0F0;
}
.demo_description {
	width: 270px;
	float: left;
	margin: 10px 0;
	padding: 0 10px;
	color: #FFF;
}
.content .about_top {
	background: url("../images/format/about_top.gif") no-repeat left top;
	width: 600px;
	padding: 16px 0 0 0;
	margin: 20px auto;
}
.content .about {
	margin: 0;
	padding: 0 100px;
	width: 400px;
	line-height: 1.6em;
	background: url("../images/format/about_bg.gif") repeat-y left top;
}
.content .about_bottom {
	background: url("../images/format/about_bottom.gif") no-repeat left bottom;
	width: 600px;
	padding: 0 0 16px 0;
}


.content .about_top_left {
	background: url("../images/format/about_top.gif") no-repeat left top;
	width: 600px;
	padding: 16px 0 0 0;
	text-align: left;
	margin: 20px auto;
}
.content .about_left {
	margin: 0;
	padding: 0 100px;
	width: 400px;
	line-height: 1.6em;
	text-align: left;
	background: url("../images/format/about_bg.gif") repeat-y left top;
}
.content .about_bottom_left {
	background: url("../images/format/about_bottom.gif") no-repeat left bottom;
	width: 600px;
	text-align: left;	
	padding: 0 0 16px 0;
}


.content .first_word {
	font-weight: bold;
	font-size: 1.2em;
	padding: 0 0 0 20px;
	width: 141px;
	height: 15px;
	background: url("../images/format/Genworks.gif") no-repeat left center;
	text-transform: uppercase;
}
.content .first_word span {
	position: absolute;
	left: -1500px;
}
.content .footnote {
	clear: both;
	text-align: center;
	margin: 50px 0 0 0;
}

.maintenance .footer,
.licensing .footer,
.security .footer,
.pricing .footer {
	text-align: center;	
}
.licensing h5{
	text-align: center;
}


/* COLUMNS *************************************************************************/
.columns_two .column {
	width: 380px;
	background: #1146FF url("../images/format/column_background.jpg") repeat-x top left;
	color: #FC0;
	text-align: left;
	margin: 0 10px;
	padding: 20px;
}
.columns_two .column p {
	margin: 10px 0;
}
.columns_two .column ul {
	margin: 20px 50px;
	font-size: 90%;
	line-height: 1.3em;
}
.columns_two h1 {
	padding: 50px 0 0 0;
	font-size: 145%;
}
.columns_two h5 {
	font-size: 100%;
}

.professional_development h5,
.enterprise_edition h5 {
	color: #F60
}


.columns_two .row_top,
.columns_two .row_bottom {
	width: 440px;
	float: left;
}
.columns_two .row_top {
	background: none;
}

.column_left_top,
.column_right_top {
	background: url("../images/format/column_top.gif") no-repeat left top;
	width: 266px;
	padding: 16px 0 0 0;
	float: left;
}
.column_left_bottom,
.column_right_bottom {
	background: url("../images/format/column_bottom.gif") no-repeat left bottom;
	width: 266px;
	padding: 0 8px 16px 8px;
	margin: 0;
}
.column_left,
.column_right {
	width: 250px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #1146FF;
	background: #1146FF url("../images/format/column_background.jpg") repeat-x top left;
	color: #FC0;
}
.column_right p {
	color: #FC0;
}
.home .column_left ul,
.opportunities .column_left ul,
.new .column_left ul,
.contact .column_left ul,
.demo .column_left ul {
	list-style-type: none;
	text-align: left;
}
.glossary .column_left ul {
	text-align: center;
	list-style-type: none;
}
.glossary .column_left ul li {
	padding: 15px 10px;
}
.demo .column_left ul li ul li label {
	width: 200px;
	font-size: .6em;
}
.demo .column_left input {
	width: 50px;
	font-size: .8em;
}
.demo .column_left input.submit_btn {
	font-size: 1.4em;
	width: 150px;
}
.demo .footer {
	color: #FFF;
	text-align: left;
}
.demo .footer div {
	float: left;
	padding: 10px;
}
.demo .footer select {
	width: 150px;
}
.demo .footer input.text {
	width: 50px;
}
.demo .footer #compass {
	float: left;
	margin: 0 10px 0 0;
}
.demo .tree ul {
	margin: 0 0 0 8px;
	border-left: 1px solid #000;
}
.demo .tree li ul li,
.demo .tree li ul li ul li,
.demo .tree li ul li ul li ul li {
	font-size: .6em;
	padding: 0 5px 0 16px;
	background: url(../images/format/tree_li_bg.gif) no-repeat left center;
}
.tree .expanded {
	background: url(../images/format/tree_li_bg.gif) no-repeat left 13px !important;
}	
.demo .tree input {
	width: 16px;
	height: 16px;
}

.column_left ul li {
	font-size: 1.2em;
	color: #FC0;
	padding: 5px;
}
.column_left ul li ul li {
	padding: 1px;
}
.column_left ul li ul li a:link,
.column_left ul li ul li a:visited,
.column_left ul li ul li a:active,
.column_left ul li ul li a:hover,
.column_left ul li ul li a:focus {
	font-size: .6em;
}
.column_center {
	width: 460px;
	float: left;
	text-align: left;
}
.column_center ol {
	margin: 10px 30px;
	font-size: .9em;
	line-height: 1.3em;
}
.glossary dl {
	color: #FFF;
	margin: 20px 40px;
}
.demo dl {
	line-height: 1.2em;
	text-align: left;
	margin: 10px;
}
.glossary dt,
.demo dt {
	display: inline;
	font-weight: bold;
}
.glossary dd,
.demo dd {
	display: inline;
}
.contact dl {
	margin: 20px 60px 0 100px;
	color: #FFF;
}
.contact dt {
	color: #FC0;
}	
.contact .email {
	display: inline;
}
.new .column_center ul {
	margin: 10px 25px;
}
.opportunities ol {
	padding: 10px 20px 10px 30px;
	margin: 10px 20px;
	color: #FFF;
	font-size: 90%;
	line-height: 1.3em;
}	
.contact_info,
.contact_mail {
	padding: 20px 40px;
}

#genworks_title {
	text-align: center;
}

.column_right ul {
	margin: 0 auto;
	text-align: center;
	width: 250px;
	padding: 0;
}
.home .column_right ul li,
.opportunities .column_right ul li,
.new .column_right ul li,
.contact .column_right ul li, 
.glossary .column_right ul li,
.demo .column_right ul li {
	list-style-type: none;
	float: left;
	width: 110px;
	padding: 7px; 
	margin: 10px 0 0 0;
}
.column_right ul li a {
	text-decoration: none;
}

/* FOOTER ******************************************************/

.footer {
	margin: 0 0 40px 0;
}
.footer h5 {
	color: #0F0;
	margin: 10px;
}
.footer ul li{
	list-style-type: none;
	display: inline;
	padding: 10px;
	font-size: 90%;
}


.clear {
	clear: both;
	height: .1em;
}


