body {
    padding: 0; 
    margin: 0; 
    margin-left: 10%; 
    margin-right: 10%; 
    font-family: "Arial"; 
    background-image: url("/timer-static/background.jpeg"); 
    background-size: 100%; 
    background-attachment: fixed; 
    color: #fff; 
    font-size: 1.3em; 
}

#content {
    text-align: center; 
    width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(237,151,120,0.5); 
    padding-left: 100px; 
    padding-right: 100px; 
    padding-top: 50px; 
    padding-bottom: 50px; 
}

#header {
    color: #fff; 
    font-weight: normal; 
    letter-spacing: 0.2em; 
    font-size: 2em; 
    border: 3px solid #fff; 
    padding: 10px; 
}

input {
    outline: 0; 
    border: 0; 
    border-bottom: 2px dotted #fff; 
    font-size: 1.3em; 
    text-align: center; 
    color: #fff; 
    background: none; 
    margin: 5px; 
}

button {
    width: 40%; 
    background: none; 
    border: 2px solid #fff; 
    padding: 5px; 
    color: #fff; 
    font-size: 19pt; 
    display: block; 
    margin: 10px; 
    margin-left: auto; 
    margin-right: auto; 
    text-transform: lowercase; 
    border-radius: 15px; 
}
button:hover {
    cursor: pointer; 
    background-color: rgba(255,255,255,0.5); 
}
button:focus {
    outline: none; 
}
.journal-entry {
    padding: 10px; 
    border: 2px solid #eee; 
    margin: 5px; 
}
.journal-time {
    font-weight: bold; 
    margin-left: auto; 
    margin-right: auto; 
}
.journal-descr {
    margin-left: auto; 
    margin-right: auto; 
}

li, ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

hr {
    border:0; 
    margin: 10px; 
}