body {
    padding: 0; 
    margin-left: 10%; 
    margin-right: 10%; 
    font-family: "Arial"; 
}

#content {
    text-align: center; 
    width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
}

input {
    outline: 0; 
    border: 0; 
    padding: 15px; 
    font-size: 19pt; 
    text-align: center; 
    background-color: #eee; 
    margin: 5px; 
}

button {
    background-color: #999; 
    border: 2px solid #333; 
    font-size: 19pt; 
}
button:hover {
    background-color: #ccc; 
}

.journal-entry {
    padding: 10px; 
    border-radius: 15px; 
    border: 2px solid #eee; 
    background-color: #eee; 
    margin: 5px; 
}
.journal-time {
    font-weight: bold; 
    margin-left: auto; 
    margin-right: auto; 
}
.journal-descr {
    margin-left: auto; 
    margin-right: auto; 
}