#menu {z-index: 9;
       font-family: "Lucida Grande", Helvetica, Arial, sans-serif;}


#menu >  ul{
    
    padding: 0px 10px;
    margin: 0;
}


#menu ul {

    list-style: none;    
}

#menu li {
    float: left;
    position: relative;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
    color: rgb(68, 68, 68);
	
}

#menu ul ul li {
    width: 150px;
}

#menu > ul > li:hover > a, #menu > ul > li:hover {
    background: rgb(0, 144, 248);
    color: rgb(238, 238, 238);
}


#menu a:hover, #menu li li:hover > a  {
    background: rgb(0, 144, 248);
    color: rgb(238, 238, 238);
}


#menu li li:hover,
#menu li li:hover li,
#menu li li:hover ul li
{
    background: rgb(0, 144, 248);
    margin-left: 0px;
    transition: 0.10s;
}


#menu a {
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: rgb(68, 68, 68);
}


#menu >  ul ul {
    position: absolute;
    background: rgb(238, 238, 238);
    left: 0;
    top: 100%;
    visibility: hidden;
    font-size: 15px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24); 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px;
}

#menu > ul ul ul {
    left: 100%;
    top: -3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#menu > ul  ul > li:last-child {
    margin-bottom: 3px;
}

#menu > ul  ul > li:first-child {
    margin-top: 3px;
}


#menu ul ul hr {
    border: 1px solid rgb(201, 201, 201); 
    margin: 0px -15px;
    width: 165px;
}


#menu .li-selected {
    color: #407af2;
}


#menu li li,
#menu li li li
{
    background: rgb(238, 238, 238);
    margin-left: 0px;
    padding-left: 15px;
}



#menu .li-heading, #menu .li-heading:hover {
    background: rgb(238, 238, 238);
    color: rgb(68, 68, 68);
    padding: 5px 5px;
    padding-right: 10px;
    font-weight: bohttp://localhost:9000/sessions/102df527a94/index.html#ld;
}

#menu li:hover > ul {
    visibility: visible;
    opacity: 0.95;
    margin-left: 0px;
    padding-left: 0px;
}


#menu > ul ul ul li, ul ul  ul li a {
    background: rgb(238, 238, 238) !important;
}

#menu > ul ul  ul li:hover,  ul ul ul li:hover a {
    background: rgb(0, 144, 248) !important;
}


.menu-right-icon
{
    position: absolute;
    right: 10px;
    transform: scale(1.8,1.0);
}


.nav-caret {
    transform: scaleX(1.8);
}

