
html {height: 95%;}
body {height: 95%;}

    
.grid {
    display: grid;
    grid-gap: 2px;
    height: 100%;
    background-color: #333;
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(15px, auto) 1fr 1fr;
    grid-template-areas: "menu"
			     "tree"
			     "inspector"
			     "viewport";
    
}


@media (min-width: 700px){

    .grid {
	/* grid-template-columns: minmax(auto, min-content)  minmax(auto, min-content)  minmax(auto, 100%); */
	grid-template-columns: minmax(auto, min-content)  minmax(10px, min-content)  minmax(auto, 100%);
	grid-template-rows: auto 1fr;
	grid-template-areas: "menu menu menu"
  			     "tree inspector viewport";
    }
    

}


.cell {padding: 0.5em;}

.menu {grid-area: menu; background: rgb(238, 238, 238); z-index: 9;}

.tree {grid-area: tree; background: #f8f8f8; resize: both; overflow: auto;}

#tree-root {padding: 0 15px}

.inspector {grid-area: inspector; background: #f8f8f8; resize: both; min-width: 10px; overflow: auto;}

.viewport {grid-area: viewport; background: rgb(209, 209, 209); resize: both; overflow: auto; z-index: 1;}

.viewport div:first-child {text-align: center;}

.growlr-tree ul {list-style: none; margin-left: 1em; padding-left: 0px;}

.growlr-tree li {white-space: nowrap; list-style: none; margin-left: 0px; padding-left: 0px;} 


#menu li {
    float: left;
    position: relative;
    width: 100px;
    list-style: none;
    -webkit-transition: .1s;
    transition: .1s;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}


#menu a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    color: rgb(68, 68, 68);
}

#menu ul ul {
    position: absolute;
    left: 0;
    width: 150px;    
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    font-size: 15px;
}
	
#menu ul ul ul {
    width: 150px;
    left: 100%;
    top: 0;
}
	
#menu li:hover, #menu li:hover li {
    background: rgb(238, 238, 238);
    width: 150px;
    transition: 0.30s;
}

#menu .li-heading {
  font-weight: bold;
}


#menu .li-selected {
    width: 150px;
    color: #407af2;
}

#menu li li:hover, #menu li li:hover li {
    background: rgb(223, 223, 223);
    margin-left: 0px; padding-left: 0px;
}
	
#menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    margin-left: 0px; padding-left: 0px;
}


.expanded, .directory, .leaf {
  margin-bottom: 5px;
  margin-right: 5px;
}

.expanded {
  color: rgb(119, 119, 119);
}

.directory {
  color: rgb(212, 113, 113);
}

.leaf {
  color: rgb(100, 190, 104);
}


.inspector .heading {
  font-size: 15px;
  font-weight: bold;
  color: rgb(82, 82, 82);
}

td {
  border: 1px solid rgb(168, 168, 168);
  padding: 10px 2px;
}

table tr td:first-child {
  color: rgb(78, 78, 78);
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: rgb(233, 242, 255);
}
