<div class="fullpage about">

  <h1>About Gendl</h1>

  <p>Gendl is derived from "GENeral-purpose Declarative
  Language". Embedded in Common Lisp, Gendl allows for high-level
  declarative and object-oriented problem solving and application
  development. At the heart of Gendl lies the <tt>define-object</tt>
  macro. To solve a problem in Gendl, you formulate it with
  a <tt>define-object</tt> form, which allows you to specify inputs,
  outputs, and child objects. These combine to generate a "tree" of
  objects, which can contain your problem solutions. Working with this
  "functional tree" is a useful way of decomposing the complexity of
  almost any kind of problem.</p>

  <h2>Then</h2>

  <p>Gendl has its roots in a discipline called "knowledge-based
  engineering". Knowledge-based engineering (KBE) is the application
  of knowledge-based systems to manufacturing design and
  production. KBE has been used in cutting-edge companies since the
  mid 1980s for tackling the toughest design and engineering
  challenges, usually involving geometry. For more information,
  see
  the <a href="http://en.wikipedia.org/wiki/Knowledge-based_engineering">Wikipedia
  article on KBE</a>.</p>

  <p> Back in the day, companies like Boeing, Airbus, and Rolls-Royce
  invested millions of dollars in software and workstations to achieve
  KBE capabilities. Because it was so costly and so specialized, KBE
  was only ever used by high-end companies on the most challenging
  problems --- the technique never saw mainstream use. </p>

  <h2>Now</h2>

  <p>In Gendl today, you have the same powerful workhorse at your
  fingertips, running on commodity hardware and free, open-source
  software. So the door is now open to apply this technology to
  routine everyday problems, as well as the high-end engineering and
  geometry challenges.</p>

  <p>Gendl contains the entire language kernel, web interface
  components, and basic geometry primitives. Its commercial sibling,
  <a href=http://genworks.com>Genworks&reg; GDL</a>. GDL adds
  proprietary licensing (for closed-source application deployment),
  commercial technical support, a world-class NURBS surface and solid modeling
  kernel, and a choice of commercial Common Lisp engines.</p>



  <p>Knowledge-based engineering uses something called knowledge models to represent parts of the design process. For more information on what KBE is, see the <a href="http://en.wikipedia.org/wiki/Knowledge-based_engineering">wikipedia article on KBE</a>.</p>
  
</div>
