    <div class="fullpage downloads">
      <h1>Downloads</h1>

      <p>Current stable version:</p>
      <a href="http://downloads.genworks.com/gendl1587p008-ccl-linux.zip"><div class="download">Linux</div></a>
      <a href="http://downloads.genworks.com/gendl1587p008-windows-oss.exe"><div class="download">Windows</div></a>
      <a href="http://downloads.genworks.com/gendl1587p008-ccl.dmg"><div class="download">Mac</div></a>

      <p>Current development version:</p>
      <div class="download">Linux</div>
      <div class="download">Windows</div>
      <div class="download">Mac</div>
      
      <p>Already a Common Lisper?</p> 
      <tt> (ql:quickload :gendl) (gendl:start-gendl!)</tt>

      <p>Note: The Windows and Mac distributions contain binary versions of Gnu Emacs and Gnu Ghostscript. The source code for these programs is available at: </p>
      <ul>
	<li><a href="http://downloads.genworks.com/emacs-24.3.tar.gz">http://downloads.genworks.com/emacs-24.3.tar.gz</a></li>
	<li><a href="http://downloads.genworks.com/gnu-ghostscript-8.63.0.tar.bz2">http://downloads.genworks.com/gnu-ghostscript-8.63.0.tar.bz2</a></li>
      </ul>
      

      <!--
      <p>Older downloads:</p>
      <p>
	<ul>
	  <li>version 007: 
	    <a href="">linux</a> | 
	    <a href="">windows</a> | 
	    <a href="">mac</a>
	  </li>

	  <li>version 006: 
	    <a href="">linux</a> | 
	    <a href="">windows</a> | 
	    <a href="">mac</a>
	  </li>

	  <li>version 005: 
	    <a href="">linux</a> | 
	    <a href="">windows</a> | 
	    <a href="">mac</a>
	  </li>
	</ul>
      </p>
      -->
    </div>
