<div class="fullpage getinvolved"> 
  <h1>Get Involved</h1>

  <p>Do you want to get in touch with other Gendlers? You can find us
  by hanging out in the following places:</p>
    
    <ul>
      <li>Discussion Forum: the <a href=http://groups.google.com/group/genworks>Genworks Google Group</a></li>
      <li>Twitter: <tt>@gendl</tt></li>
      <li>Common-lisp.net: The <a href=https://gitlab.common-lisp.net/gendl/gendl>Gendl Project</a></li>
      <li>Technical Chat Channel (IRC): <tt>#gendl</tt> on irc.freenode.net </li>
      </ul>

    

</div>
