<html>
  <head>
    <title>Gendl</title>
    <link href='https://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="/gorgstat/css/styles.css" rel="stylesheet" media="screen">

    <script type="text/javascript">
            $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 500);
      return false;
      }
      }
      });
      });
    </script>

  </head>
  <body>

    <a name="home"></a>
    <div class="fullpage one" id="first">
      <div class="banner">
	  the
	  <span class="gendl">
	  gendl</span>
	  project

	</div>
    </div>

    <a name="about"></a>
    <div class="fullpage two">
      <img src="/gorgstat/imgs/logo.png" align="left">
      <h1>About Gendl, or, What can you do with emacs and a web browser?</h1>

      <p>Gendl (or GenDL) stands for "GENeral-purpose Declarative Language". Gendl is a language, embedded in Common Lisp, that allows for high-level declarative and object-oriented problem solving and application development. At the heart of Gendl lies the <tt>define-object</tt> macro. To solve a problem in Gendl, you formulate it with <tt>define-object</tt>, which allows you to specify inputs, outputs, and child objects. These combine to give you the ability to generate a "tree" of objects, a useful way of decomposing complexity.</p>

      <h2>"Knowledge-based engineering"?</h2>

      <p>You'll often here Gendl associated with something called "knowledge-based engineering". Knowledge-based engineering (KBE) is the application of knowledge-based systems to manufacturing design and production. It's especially important with computer-aided design (CAD) software because such software happens to be intensively knowledge-based.</p>

<p>Knowledge-based engineering uses something called knowledge models to represent parts of the design process. For more information on what KBE is, see the <a href="http://en.wikipedia.org/wiki/Knowledge-based_engineering">wikipedia article on KBE</a>.</p>
      
    </div>

    <a name="license"></a>
    <div class="fullpage three license">
      <img src="/gorgstat/imgs/agpl.png" align="left">
      <h1>License: The Affero GNU Public License</h1>
      
      <blockquote><p>The GNU Affero General Public License is a free, copyleft license for software and other kinds of works, specifically designed to ensure cooperation with the community in the case of network server software.</p>
<p>
The licenses for most software and other practical works are designed to take away your freedom to share and change the works. By contrast, our General Public Licenses are intended to guarantee <b>your freedom to share and change all versions of a program</b>--to make sure it remains <b>free software</b> for all its users.
</p><p>
When we speak of free software, we are referring to freedom, not price. Our General Public Licenses are designed to make sure that you have the freedom to distribute copies of free software (and charge for them if you wish), that you receive source code or can get it if you want it, that you can change the software or use pieces of it in new free programs, and that you know you can do these things.</p>
<p>- The AGPL Preamble (<a href="http://www.gnu.org/licenses/agpl-3.0.html">link</a>)</blockquote>

<p>Gendl is licensed under the Affero GNU Public License (AGPL). For writers of Gendl applications, this means that your applications also need to be released under AGPL. There are no restrictions against commercial use of this free system, but the source code for your system must be made available.</p>
<p>For those with closed-source needs, the commercial Genworks GDL is available. See <a href="http://genworks.com/">here</a> for more information. </p>

    </div>

    <a name="downloads"></a>
    <div class="fullpage two">
      <h1>Downloads</h1>

      <p>Current stable version:</p>
      <a href="http://downloads.genworks.com/gendl1587p008-ccl-linux.zip"><div class="download">Linux</div></a>
      <a href="http://downloads.genworks.com/gendl1587p008-windows-oss.exe"><div class="download">Windows</div></a>
      <a href="http://downloads.genworks.com/gendl1587p008-ccl.dmg"><div class="download">Mac</div></a>

      <p>Current development version:</p>
      <div class="download">Linux</div>
      <div class="download">Windows</div>
      <div class="download">Mac</div>

      <p>Older downloads:</p>
      <p>
	<ul>
	  <li>version 007: 
	    <a href="">linux</a> | 
	    <a href="">windows</a> | 
	    <a href="">mac</a>
	  </li>

	  <li>version 006: 
	    <a href="">linux</a> | 
	    <a href="">windows</a> | 
	    <a href="">mac</a>
	  </li>

	  <li>version 005: 
	    <a href="">linux</a> | 
	    <a href="">windows</a> | 
	    <a href="">mac</a>
	  </li>
	</ul>
      </p>
    </div>


    <a name="documentation"></a>
    <div class="fullpage three docs"> 
      <h1>Documentation/Resources</h1>

      <p>We're currently working on some web-based documentation. For now: </p>
      <ul>
	<li><p>Please see the <a href="http://genworks.com/downloads/tutorial.pdf">GDL manual</a>. This user manual is written for the commercial Genworks GDL; however, this has enough in common with Gendl that it is still relevant.</p></li>
	<li><p>Check out our new series of <a href="http://www.youtube.com/watch?v=lUE8dGkJIlE&feature=youtu.be&list=PLRhCdLP6SHQ-BIvUEBuVW0Ip5npMR9M4x">video tutorials</a>. Note: This is still a work in progress.</li>
	<li><p>Here's some <a href="https://www.dropbox.com/sh/utdoexvoxrajju4/AAC6OIfhtgHb0CkmZeye1zhqa">example code</a> to get you used to what Gendl code looks like. </p></li>
      </ul>


    </div>

    <a name="demos"></a>
    <div class="fullpage two"> 
      <h1>Demos</h1>
    </div>


    <div class="footer">

      <a href="#home">
	Home
      </a> 
      <a href="#about">About</a>
      <a href="#license">License</a>
      <a href="#downloads">Downloads</a>
      <a href="#documentation">Documentation</a>
      <a href="#demos">Demos</a>
      <a href="#getinvolved">Get Involved</a>

    </div>

  </body>
</html>
